<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="result-card">
    <h4><%= car.make %> - <%= car.model %></h4>
    <p>Engine: <strong><%= car.engineSize %></strong></p>
    <p>Body Type: <strong><%= car.bodyType %></strong></p>
    <p>Fuel Type: <strong><%= car.fuelType %></strong></p>
    <p>Number of Doors: <strong><%= car.numberOfDoors %></strong></p>
</div>

<%- include('./partials/foot.ejs') %>