<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-2 filter-card">
            <p>Filter by:</p>
            <p>Make</p>
            <p>Engine</p>
            <p>Transmission</p>
            <p>Colour</p>
            <p>Body Type</p>
            <p>Fuel Type</p>
        </div>
        <div class="col-10 gallery-card">

            <div class="results">
                <% carsData.forEach(car => { %>
                <a class="results-card-a" href="/cars/<%= car.id%>">
                    <div class="result-card">
                        <h4><%= car.make %> - <%= car.model %></h4>
                        <p>Gen: <strong><%= car.year %></strong></p>
                        <p>Engine: <strong><%= car.engineSize %></strong></p>
                        <p>Body Type: <strong><%= car.bodyType %></strong></p>
                        <p>Fuel Type: <strong><%= car.fuelType %></strong></p>
                        <p>Transmission: <strong><%= car.transmission %></strong></p>
                    </div>
                </a>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/foot.ejs') %>