<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-2 filter-card">
            <p>Sort by:</p>
            <p>Make</p>
            <p>Engine</p>
            <p>Transmission</p>
            <p>Colour</p>
            <p>Body Type</p>
            <p>Fuel Type</p>
        </div>
        <div class="col-10 gallery-card">

            <div class="results">
                <% carsData.forEach(car => { %>
                <a class="results-card-a" href="/cars/<%= car.id%>">
                    <div class="result-card-for-sale">
                        <h4><%= car.price %></h4>
                        <p>Colour: <strong><%= car.colour %></strong></p>
                        <p>Mileage: <strong><%= car.mileage %></strong></p>
                        <p>Description: <strong><%= car.description %></strong></p>
                    </div>
                </a>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/foot.ejs') %>